body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f4f7f6;
	color: #333;
	line-height: 1.6;
}
header {
	background: #2c3e50;
	color: white;
	text-align: center;
	padding: 2rem 0;
}
.contenedor {
	width: 80%;
	margin: 20px auto;
	background: white;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.habilidades {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0;
}
.datos {
	display:flex;
	align-items:center;
	gap:20px;
}
.imagen1 {
	width: 400px;
	height:auto;
	border-radius:20px
}